.projectWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 5%;
    width: 100%;
}
.projectHeading {
    text-align: center;
    margin: 5% 0%;
    font-size: 3vw;
    font-family: "Kanit";
    font-weight: 600;
}
.projCont {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.card1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

    background: linear-gradient(
        to bottom,
        rgba(240, 102, 10, 0.883),
        rgba(240, 102, 10, 0.883)
    );
    border-radius: 30px;
}
.card2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 30px;
    background: linear-gradient(
        to bottom,
        rgba(46, 97, 49, 0.7),
        rgba(47, 97, 50, 0.8)
    );
}

.card3:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 30px;
    background: linear-gradient(
        to bottom,
        rgba(75, 74, 71, 0.7),
        rgba(68, 67, 62, 0.8)
    );
}
.card4:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 30px;
    /* background: linear-gradient(
        to bottom,
        rgba(47, 197, 235, 0.7),
        rgba(112, 215, 241, 0.9)
    ); */
    background: linear-gradient(
        to bottom,
        rgba(27, 50, 133, 0.7),
        rgba(26, 51, 105, 0.8)
    );
}
.card5:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 30px;
    background: linear-gradient(
        to bottom,
        rgba(19, 158, 238, 0.7),
        rgba(10, 169, 218, 0.8)
    );
}
.card6 {
    background: linear-gradient(to top left, #7550a6 0%, #4169e1 100%);
    height: 100%;
    border-radius: 30px;
}
.innercard6 {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.btn {
    border: 2px solid rgb(110, 25, 248);
    border-radius: 30px;
    width: fit-content;
    color: white;
}
.btn:hover {
    background-color: rgb(110, 25, 248);
    color: white;
}
.frontcard {
    border-radius: 30px;
}
.flip-card {
    background-color: transparent;
    width: 320px;
    height: 265px;
    perspective: 1000px;
    margin: 20px 0px;
    border-radius: 30px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #211f3b;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.flip-card-back p {
    text-align: center;
    padding: 0px 3%;
    font-size: 1vw;
    font-family: "Kanit";
}
a {
    text-align: center;
    width: fit-content;
    height: 20%;
    width: fit-content;
    border-radius: 50px;
    font-family: "Kanit";
}
button {
    /* border:2px solid red; */
    height: 3vw;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    color: white;
    border: 2px solid rgb(110, 25, 248);
}
button:hover {
    background-color: rgb(110, 25, 248);
}
.flip-card-front h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5vw;
    z-index: 1;
    font-weight: 900;
    letter-spacing: 2px;
    width: 100%;
}
.frontcard {
    width: 100%;
    height: 265px;
}

@media only screen and (max-width: 770px) {
    .projCont {
        display: flex;
        justify-content: center;
    }
    .projectHeading {
        font-size: 5vw;
    }
    .projCont {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flip-card-front h3 {
        font-size: 4vw;
        z-index: 1;
        font-weight: 600;
    }
    .frontcard {
        width: 100%;
        height: 180px;
    }
    .card1:after {
        width: 100%;
        height: 180px;
    }
    .card2:after {
        width: 100%;
        height: 180px;
    }
    .card3:after {
        width: 100%;
        height: 180px;
    }
    .card4:after {
        width: 100%;
        height: 180px;
    }
    .card5:after {
        width: 100%;
        height: 180px;
    }
    .flip-card {
        height: 180px;
        margin: 10px 0px;
    }

    .projCont {
        width: 85%;
    }
    .flip-card {
        margin: 10px 0px;
    }
    .flip-card-back p {
        text-align: center;
        padding: 0px 3%;
        font-size: 2.5vw;
        font-family: "Kanit";
    }
    button {
        text-align: center;
        width: fit-content;
        height: 20%;
        width: 45%;
        border-radius: 50px;
        font-size: 15px;
        font-family: "Kanit";
    }
}
@media only screen and (max-width: 450px) {
    .projectHeading {
        font-size: 10vw;
    }
    .projCont {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .flip-card-front h3 {
        font-size: 6vw;
        z-index: 1;
        font-weight: 600;
    }
    .frontcard {
        width: 100%;
        height: 180px;
    }
    .card1:after {
        width: 100%;
        height: 180px;
    }
    .card2:after {
        width: 100%;
        height: 180px;
    }
    .card3:after {
        width: 100%;
        height: 180px;
    }
    .card4:after {
        width: 100%;
        height: 180px;
    }
    .card5:after {
        width: 100%;
        height: 180px;
    }
    .flip-card {
        height: 180px;
        margin: 10px 0px;
    }
    .flip-card-back p {
        text-align: center;
        padding: 0px 3%;
        font-size: 3.5vw;
        font-family: "Kanit";
    }
    button {
        text-align: center;
        width: fit-content;
        height: 20%;
        width: 45%;
        border-radius: 50px;
        font-size: 15px;
        font-family: "Kanit";
    }
}

@media only screen and (max-width: 377px) {
    .projectHeading {
        font-size: 10vw;
    }
    .flip-card-front h3 {
        font-size: 7vw;
    }
    .flip-card-back p {
        text-align: center;
        padding: 0px 3%;
        font-size: 3.5vw;
        font-family: "Kanit";
    }
    button {
        text-align: center;
        width: fit-content;
        height: 20%;
        width: 45%;
        border-radius: 50px;
        font-size: 15px;
        font-family: "Kanit";
    }
}
