.project-section {
    height: auto;
    align-items: center;
    /* border:2px solid blue */
}
.project-container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 7rem 0rem 2rem 0rem;
    /* border:2px solid rgb(95, 92, 93) */
}
.project-container h1 {
    /* border:2px solid red; */
    text-align: center;
    font-weight: bolder;
    font-family: "Kanit";
    margin-bottom: 5rem;
}
.project-cards {
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    width: 100%;
    display: inline-block;

    background: linear-gradient(
        to bottom,
        rgba(240, 102, 10, 0.883),
        rgba(240, 102, 10, 0.883)
    );
    border-radius: 15px;
}

.card2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(46, 97, 49, 0.7),
        rgba(47, 97, 50, 0.8)
    );
}

.card3:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(216, 122, 14, 0.9),
        rgba(255, 188, 99, 0.8)
    );
}
.card4:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(47, 197, 235, 0.7),
        rgba(112, 215, 241, 0.9)
    );
    background: linear-gradient(
        to bottom,
        rgba(27, 50, 133, 0.7),
        rgba(26, 51, 105, 0.8)
    );
}
.card5:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(19, 158, 238, 0.7),
        rgba(10, 169, 218, 0.8)
    );
}
.card6:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgb(228, 213, 6, 0.7),
        rgb(202, 199, 7, 0.8)
    );
    opacity: 1.5;
}
.frontcard {
    border-radius: 15px;
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 12rem;
    perspective: 1000px;
    margin: 20px 0px;
    border-radius: 15px;
    border: 2px solid white;
    margin: 1rem 0rem;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 12rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    /* width: 35rem; */
    width: 100%;
    min-height: 12rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
    max-width: 100%;
    border-radius: 15px;
}
.flip-card-back {
    background-color: #211f3b;
    color: white;
    min-height:12rem;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.frontcard {
    width: 100%;
    min-height: 12rem;
}
img {
    width: 100%;
    height: 12rem;
    border-radius: 15px;
}
.flip-card-back p {
    text-align: center;
    padding: 0px 3%;
    font-size: 1rem;
    font-family: "Kanit";
}
.flip-card-back a {
    text-align: center;
    width: fit-content;
    height: 20%;
    width: fit-content;
    border-radius: 50px;
    font-family: "Kanit";
}
.flip-card-back a button {
    height: 2.5rem;
    width: fit-content;
    padding: 0rem 2rem;
    border-radius: 30px;
    background: transparent;
    color: white;
    border: 2px solid rgb(110, 25, 248);
    font-size: 1rem;
}
.flip-card-back a button:hover {
    background-color: rgb(110, 25, 248);
}
.flip-card-front h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5vw;
    z-index: 1;
    font-weight: 900;
    letter-spacing: 2px;
    width: 100%;
}

.github-link-btn {
    text-align: center;
}

.github-link {
    height: auto;
    width: auto;
    padding: 0.8rem 6rem;
    border-radius: 40px;
    margin: 5% 0%;
    font-size: 1.1rem;
    border: transparent;
    background: transparent;
    border: 2px solid rgb(110, 25, 248);
}
.github-link:hover {
    background-color: rgb(110, 25, 248);
    color: white;
}

@media (max-width: 992px) {
    .project-container h1 {
        margin-bottom: 5rem !important;
        font-size: 2.5rem !important;
    }
    .flip-card {
        min-height: 15rem;

        margin: 5px 0px;
    }
    .flip-card-inner {
        min-height: 15rem;
    }
    .flip-card-front,
    .flip-card-back {
        min-height: 15rem;
    }
    .frontcard {
        min-height: 15rem;
    }
    img {
        height: 15rem;
    }
    .flip-card-front h3 {
        font-size: 1.5rem;
    }
    .flip-card-back a button {
        height: 2.5rem;
        width: fit-content;
        padding: 0rem 2rem;
        border-radius: 30px;
        background: transparent;
        color: white;
        border: 2px solid rgb(110, 25, 248);
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .project-container h1 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .flip-card {
        min-height: 11rem;
    }
    .flip-card-inner {
        min-height: 11rem;
    }
    .flip-card-front,
    .flip-card-back {
        min-height: 11rem;
    }
    .frontcard {
        min-height: 11rem;
    }
    img {
        height: 11rem;
    }
    .flip-card-front h3 {
        font-size: 1.5rem;
    }
    .flip-card-back a button {
        height: 2.5rem;
        width: fit-content;
        padding: 0rem 02rem;
        border-radius: 30px;
        background: transparent;
        color: white;
        border: 2px solid rgb(110, 25, 248);
        font-size: 1rem;
    }
    .flip-card-back p {
        text-align: center;
        padding: 0px 3%;
        font-size: 0.7rem;
        font-family: "Kanit";
    }
    .flip-card-back a button {
        height: 2rem;
        width: fit-content;
        padding: 0rem 1rem;
        border-radius: 30px;
        background: transparent;
        color: white;
        border: 2px solid rgb(110, 25, 248);
        font-size: 0.6rem;
    }
    .github-link {
        height: auto;
        width: auto;
        padding: 0.5rem 2rem;
        border-radius: 40px;
        margin: 5% 0% 15% 0%;
        font-size: 1.1rem;
        border: transparent;
        background: transparent;
        border: 2px solid rgb(110, 25, 248);
    }

}
