.projectsection {
    padding-bottom: 5%;
    margin: 0%;
    /* border:2px solid red; */
    /* padding:0% */
}
.projectHeader {
    margin: 8% 0%;
}
.projectHeader h1 {
    text-align: center;
    font-family: "Kanit";
    font-weight: 600;
}
.projectHeader h6 {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    /* margin: 5% 0%; */
}
.col {
    height: 100%;
    width: 100%;
}
.frontcard {
    height: 250px;
    width: 100%;
    margin-left: 0%;
    border-radius: 15px;
}
.container-lg {
    height: auto;
    width: 100%;
}

.card1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    width: 100%;
    display: inline-block;

    background: linear-gradient(
        to bottom,
        rgba(240, 102, 10, 0.883),
        rgba(240, 102, 10, 0.883)
    );
    border-radius: 15px;
}

.card2:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(46, 97, 49, 0.7),
        rgba(47, 97, 50, 0.8)
    );
}

.card3:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(216, 122, 14, 0.9),
        rgba(255, 188, 99, 0.8)
    );
}
.card4:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(47, 197, 235, 0.7),
        rgba(112, 215, 241, 0.9)
    );
    background: linear-gradient(
        to bottom,
        rgba(27, 50, 133, 0.7),
        rgba(26, 51, 105, 0.8)
    );
}
.card5:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(
        to bottom,
        rgba(19, 158, 238, 0.7),
        rgba(10, 169, 218, 0.8)
    );
}

.frontcard {
    border-radius: 15px;
}
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: 1000px;
    margin: 20px 0px;
    border-radius: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #211f3b;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.flip-card-back p {
    text-align: center;
    padding: 0px 3%;
    font-size: 1vw;
    font-family: "Kanit";
}
a {
    text-align: center;
    width: fit-content;
    height: 20%;
    width: fit-content;
    border-radius: 50px;
    font-family: "Kanit";
}
.gitbutton {
    height: 3vw;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    background: transparent;
    color: white;
    border: 2px solid rgb(110, 25, 248);
}
.gitbutton:hover {
    background-color: rgb(110, 25, 248);
}
.flip-card-front h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5vw;
    z-index: 1;
    font-weight: 900;
    letter-spacing: 2px;
    width: 100%;
}
.frontcard {
    width: 100%;
}
.github-link-btn{
    text-align: center;
}
.projectsection a .github-link{
    height:auto;
    width:auto;
    padding:15px 80px;
    border-radius: 40px;
    margin:3% 0%;
    font-size: 25px;
    border:transparent;
    background: transparent;
    border:2px solid rgb(110, 25, 248)
}
.projectsection a .github-link:hover{
    background-color: rgb(110, 25, 248);
    color:white
}
@media only screen and (max-width: 1200px) {
    .flip-card-front h3 {
        font-size: 2vw;
    }
    .projectsection {
        margin-top: 15%;
    }
    .gitbutton {
        height: 5vw;
    }
    .flip-card-back p {
        font-size: 1.5vw;
    }
}
@media only screen and (max-width: 900px) {
    .flip-card-front h3 {
        font-size: 2.8vw;
    }
    .gitbutton {
        height: 6vw;
    }
    .flip-card-back p {
        font-size: 1.8vw;
    }
}
@media only screen and (max-width: 600px) {
    .flip-card-front h3 {
        font-size: 3.8vw;
    }
    .gitbutton {
        height: 9vw;
    }
    .flip-card-back p {
        font-size: 2.8vw;
    }
    .projectHeader h1 {
        text-align: center;
        font-family: "Kanit";
        font-weight: 600;
        font-size: 35px;
    }
}
@media only screen and (max-width: 500px) {
    .flip-card-front h3 {
        font-size: 5.8vw;
    }
    .gitbutton {
        height: 12vw;
    }
    .flip-card-back p {
        font-size: 4vw;
    }
    .projectHeader h1 {
        text-align: center;
        font-family: "Kanit";
        font-weight: 600;
        font-size: 30px;
    }
    .projectsection a .github-link{

        padding:10px 50px;
        border-radius: 40px;
        margin:3% 0%;
        font-size: 20px;
        border:transparent;
        background: transparent;
        border:2px solid rgb(110, 25, 248)
    }
    .projectsection a .github-link:hover{
        background-color: rgb(110, 25, 248);
        color:white
    }

}
