.section {
    width: 100%;
    margin: 0;
    background-color: white;
}
.sectioncontainer {
    height: 500px;
    width: 100%;
    background-color: rgb(110, 25, 248);
    padding: 2% 0%;
    width: 100%;
    color: white;
}
.columns {
    height: auto;
    width: 100%;
    text-align: center;
}
h1 {
    font-weight: bolder;
}
p {
    font-size: 20px;
    letter-spacing: 1px;
}
.column {
    margin: 0% 15%;
    height: auto;
}
.text {
    height: auto;
    margin: 6% 15%;
}

.educationsection {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isnarrow {
    width: 70%;
    height: auto;
    background-color: white;
    border-radius: 30px;
    display: flex;
}

.timeline {
    width: 80%;
    max-width: 800px;
    margin: 5% auto;
    position: relative;
}

.timeline-text {
    background-color: #3b444b;
    border-radius: 10px;
    color: white;
}

.edu {
    margin-bottom: 20px;
    font-size: 3vw;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: center;
    font-family: "Kanit";
    margin-bottom: 7%;
}

.timeline-text h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: "Kanit";
}

.timeline-text p {
    font-size: 1rem;
    font-family: "Kanit";
}

@media only screen and (min-width: 750px) {
    .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 4px;
        left: 50%;
        background-color: black;
        transform: translateX((-50%));
    }

    .timeline-text {
        width: 50%;
        margin-bottom: 10px;
        position: relative;
        color: white;
        padding: 10px;
    }

    .timeline-text:nth-child(odd) {
        float: left;
        clear: right;
        transform: translate(-30px);
    }

    .timeline-text:nth-child(even) {
        float: right;
        clear: left;
        transform: translate(30px);
    }

    .timeline-text::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: white;
        border: 2px solid #8b949b;
        border-radius: 50%;
        top: 0;
    }

    .timeline-text:nth-child(odd)::after {
        right: -30px;
        transform: translate(50%, -50%);
    }

    .timeline-text:nth-child(even)::after {
        left: -30px;
        transform: translate(-50%, 50%);
    }
    .timeline-text:hover:after {
        background-color: gray;
    }
}

@media screen and (max-width: 700px) {
    .column p {
        font-size: 17px;
    }
    .innercontain {
        margin: 0%;
    }
}
