.skillWrapper {
    /* border: 2px solid red; */
    height: 100vh;
}
.skillHeading {
    /* border:2px solid blue; */
    height: 50%;
    background-color: #4324f1;
    padding-top: 5%;
}
.skillHeading h3 {
    /* border:2px solid yellow; */
    color: white;
    font-size: 5vw;
    font-family: "Bree Serif";
    text-align: center;
}
.skillHeading h6 {
    /* border: 2px solid yellowgreen; */
    font-family: "Rubik";
    text-align: center;
    font-size: 1.7rem;
    color: white;
    margin-top: 1%;
}
.skillStack {
    /* border:2px solid yellow; */
    height: fit-content;
    margin-top: -6rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    font-size: 6vw;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #4db4d7;
}

.fa-js {
    color: #f0db4f;
}
.fa-bootstrap {
    color: #806abc;
}
.fa-react {
    color: #61dbfb;
}
.fa-sass {
    color: #cd6799;
}
.fa-git-alt {
    color: #f34f29;
}

@media only screen and (max-width: 600px) {
    .skillWrapper {
        margin-top: 20%;
    }
    .skillHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8vh 0vh;
    }
    .skillHeading h3 {
        color: white;
        font-size: 8vw;
        font-family: "Bree Serif";
        text-align: center;
    }
    .skillHeading h6 {
        width: 80%;
        font-size: 2.5vh;
    }
    .container {
        /* border:2px solid red; */
        width: 80%;
    }
    i {
        font-size: 30vw;
    }
}
