.skillWrapper {
    height: auto;
    /* border:2px solid red */
}
.skillHeading {
    height: 50%;
    background-color: rgb(112,49,125);
    padding: 10vh 0vh 18vh 0vh;
}
.skillcontainer{
    /* border:2px solid black; */
    /* height: auto; */
}
.skillHeading h3 {
    color: white;
    font-size: 3.5vw;
    font-family: "Kanit";
    text-align: center;
}
.skillHeading h6 {
    font-family: "Kanit";
    text-align: center;
    font-size: 1.5vw;
    color: white;
    margin-top: 1%;
}
.skillStack {
    height: auto;
    margin-top: -6rem;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    /* border:2px solid red; */

}
.card {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card i {
    font-size: 6vw;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #4db4d7;
}

.fa-js {
    color: #f0db4f;
}
.fa-bootstrap {
    color: #806abc;
}
.fa-react {
    color: #61dbfb;
}
.fa-sass {
    color: #cd6799;
}
.fa-git-alt {
    color: #f34f29;
}

@media screen and (max-width: 900px) and (min-width: 750px) {
    .skillHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* padding: 15vh 0vh; */
    }
    .skillHeading h3 {
        font-size: 5vw;
    }
    .skillHeading h6 {
        width: 80%;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 750px) {
    .skillWrapper {
        margin-top: 20%;
    }
    .skillHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10vh 0vh 18vh 0vh;
    }
    .skillHeading h3 {
        color: white;
        font-size: 5vw;
        font-family: "Kanit";
        text-align: center;
    }
    .skillHeading h6 {
        width: 80%;
        font-size: 2.5vh;
    }
    .container {
        width: 80%;
    }
    .card i {
        font-size: 15vw;
    }
}
@media only screen and (max-width: 450px) {
    .skillHeading h3 {
        font-size: 10vw;
    }
}
@media only screen and (max-width: 375px) {
    .skillHeading {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10vh 0vh 18vh 0vh;
    }
    .skillHeading h3 {
        font-size: 10vw;
    }
    .skillHeading h6 {
        width: 80%;
        font-size: 5vw;
    }
    .card i {
        font-size: 30vw;
    }
}
