.skillsection{
    /* border:2px solid red; */
    margin:0%
}
.skillHeader {
    height: 500px;
    background-color: rgb(110, 25, 248);
    padding: 2% 0%;
}
.headingContainer {
    height: auto;
    text-align: center;
}
.skillcolumn {
    margin: 0% 25%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 4%;
}
.skillcolumn h1 {
    font-weight: bolder;
    color: white;
    font-family: "Kanit";
}
p {
    font-size: 20px;
    color: white;
}
.skillContainer {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.skillStack {
    width: 70%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 180px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card i {
    font-size: 6vw;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #4db4d7;
}

.fa-js {
    color: #f0db4f;
}
.fa-bootstrap {
    color: #806abc;
}
.fa-react {
    color: #61dbfb;
}
.fa-sass {
    color: #cd6799;
}
.fa-git-alt {
    color: #f34f29;
}

@media only screen and (max-width: 778px) {
    .skillcolumn h1 {
        font-size: 35px;
    }
    .card i {
        font-size: 9vw;
    }
    .skillcolumn {
        margin: 0% 15%;
    }
}

@media only screen and (max-width: 450px) {
    .skillcolumn h1 {
        font-size: 29px;
    }
    .card i {
        font-size: 9vw;
    }
    .skillcolumn {
        margin: 0% 5%;
    }
    .card i {
        font-size: 90px;
    }
}
