.aboutWrapper {
    border: 2px solid blue;
    height: 60vh;
    width: 99vw;
}
.about {
    border: 2px solid gray;
    width: 100%;
    height: 60vh;
    background-color: #4324f1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}
.aboutcontent {
    width: 60%;
    margin-top: 4%;
    height: fit-content;
}
.aboutcontent h3 {
    color: white;
    font-size: 3.5vw;
    font-family: "Bree Serif";
    margin-bottom: 3%;
}
.aboutcontent h6 {
    font-size: 2.8vh;
    font-family: "Rubik";
}

@media only screen and (max-width: 768px) {
    .aboutcontent {
        width: 80%;
        margin-top: 10vw;
    }

    .aboutcontent h3 {
        font-size: 5vw;
        margin-bottom: 5%;
    }
    .aboutcontent h6 {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 450px) {
    .aboutcontent h6 {
        font-size: 4.5vw;
    }
    .aboutcontent h3 {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 375px) {
    .aboutcontent h6 {
        font-size: 5vw;
    }
    .aboutcontent h3 {
        font-size: 10vw;
    }
}
