.wrapper {
    height: 100vh;
    width: 100%;
}
nav {
    height: 10vh;
    background-color: lightgray;
    position: sticky;
}
.container-fluid {
    /* border:2px solid pink; */
    height: 90vh;
    width: 80%;
}
.container {
    /* border: 2px solid brown; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0;
    padding: 0; */
    /* width:100%; */
    /* border:2px solid yellow */
}
.avtar {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Rubik";
}
.aboutme h1 {
    font-weight: 900;
    font-family: "Bree Serif";
    color: #4324f1;
    font-size: 6.5vh;
    /* border:2px solid red */
}
.aboutme h6{
    font-size: 3.5vh;

}


@media only screen and (max-width: 768px) {
    .aboutme {
        text-align: center;
        font-size: 40px;
        margin-top:7%;
    }
    .container {
        display: flex;
        align-items: flex-start;
        padding-top: 15%;
    }
    img {
        height: 200px;
        width: 200px;
    }
    .aboutcontent{
        width:90%
    }
    .aboutme h1 {
        font-size: 6vh;
    }
}
