.contactWrapper {
    height: 60vh;

}
.footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contactHeading {
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactHeading h3 {
    font-weight: 600;
}

.contactIcons {
    height: 20%;
    display: flex;
    justify-content: center;
}
.contactIcons a {
    list-style: none;
}

.fab {
    font-size: 4vw;
    margin: 0px 40px;
}
.footerContent {
    text-align: center;
    margin-top: 0%;
}
.quote {
    text-align: center;
}

@media only screen and (max-width:768px){
    .fab{
        font-size: 9vw;
    }
}
@media only screen and (max-width:500px){
    .fab{
        font-size: 12vw;
    }
}
@media only screen and (max-width:375px){
    .fab{
        font-size: 15vw;
        margin: 0px 20px;
    }
    .contactHeading h3 {
        font-weight: 600;
        font-size: 7vw;
    }
    .quote h5{
        font-size: 5.5vw;
    }
    .footerContent h5{
        font-size: 5.5vw;
    }
}